`4++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++``
`8Keywords``   : Rules
`8Categories`` : 
`4++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++``

You are responsible for knowing all the rules of Prophecy. The staff will try
to post a News note if a rule is added or changed.  Ignorance of the rules is
no excuse. Read these rules. Learn them. And most important of all, `#PLAY BY
THEM``. To learn the general rules which apply to all players type <help
General_Rules>. To learn the rules of the pkiller read <help  Pk_rules>. 

 `#REMEMBER THAT SOME POLICIES AND RULES ARE IN THE NEWS BOARD.``  

 It is your  job to read and remember these changes.  Sometimes they get
overlooked and do  not get added to the rules help files.  This DOES NOT mean
we won't enforce  them. 

 `1Also read 'help interpretation' because we stand by this policy.``

`4++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++``
~
